In [ ]:
import pandas as pd
import numpy as np

In [ ]:
from google.colab import drive
drive.mount('/content/drive', force_remount=True)

Mounted at /content/drive

In [ ]:
#CREATE DATAFRAME
#Customer
customer_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/customers_dataset.xlsx')
#Product category
product_category_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/product_category_name_translation.xlsx')
#Product_category_name
product_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/products_dataset.xlsx')
#Order review
order_reviews_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/order_reviews_dataset.xlsx')
#Order payment
order_payment_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/order_payments_dataset.xlsx')
#Order
order_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/orders_dataset.xlsx')
#Order item
order_item_df = pd.read_excel('/content/drive/MyDrive/MindX/Lop 2/Group 1  Dataist /De 1/dataset/order_items_dataset.xlsx')

In [ ]:
#check null
customer_df.isnull().sum()

customer_id                 0
customer_unique_id          0
customer_zip_code_prefix    0
customer_city               0
customer_state              0
dtype: int64

In [ ]:
#check duplicate
customer_df[customer_df.duplicated(subset='customer_id', keep=False)].sum()

customer_id                 0.0
customer_unique_id          0.0
customer_zip_code_prefix    0.0
customer_city               0.0
customer_state              0.0
dtype: float64

In [ ]:
# Combine order_df and order_item_df by key value order_id
order_to_order_item_df = pd.merge(order_df, order_item_df,how='left', on='order_id')

In [ ]:
# Combine order_df, order_item_df and order_payment_df by key value order_id
order_detail_pay_df = pd.merge(order_to_order_item_df, order_payment_df,how='left', on='order_id')

In [ ]:
# Combine order_df, order_item_df and order_payment_df,order_reviews_df by key value order_id
order_detail_df = pd.merge(order_detail_pay_df, order_reviews_df,how='left', on='order_id')

In [ ]:
# Combine product_df and product_category_df by key value product_id
product_Eng_df = pd.merge(product_df, product_category_df,how='left', on='product_category_name')

In [ ]:
# Combine order_detail_df and product_Eng_df  by key value order_id
order_detail_w_product_df = pd.merge(order_detail_df, product_Eng_df,how='left', on='product_id')

In [ ]:
#Check null value when combine 2 combined tables
order_detail_w_product_df.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                   177
order_delivered_carrier_date       2086
order_delivered_customer_date      3421
order_estimated_delivery_date         0
product_id                          833
order_item_id                       833
seller_id                           833
price                               833
freight_value                       833
payment_sequential                    3
payment_type                          3
payment_installments                  3
payment_value                         3
review_id                             0
review_score                          0
review_comment_title             104964
review_comment_message            67910
review_creation_date                  0
review_answer_timestamp               0
product_category_name              2542
product_name_lenght                2542
product_description_lenght         2542
product_photos_qty                 2542
product_weight_g                    853
product_length_cm                   853
product_height_cm                   853
product_width_cm                    853
product_category_name_english      2567
dtype: int64

In [ ]:
#Check duplicated value when combine 2 combined tables
duplicated_orders = order_detail_w_product_df[order_detail_w_product_df.duplicated(subset='order_id', keep=False)]

In [ ]:
order_detail_w_product_df[order_detail_w_product_df['order_id'] == 'e481f51cbdc54678b7cc49136f2d6af7']

,order_id,customer_id,order_status,order_purchase_timestamp,order_approved_at,order_delivered_carrier_date,order_delivered_customer_date,order_estimated_delivery_date,product_id,order_item_id,...,review_answer_timestamp,product_category_name,product_name_lenght,product_description_lenght,product_photos_qty,product_weight_g,product_length_cm,product_height_cm,product_width_cm,product_category_name_english
0,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,87285b34884572647811a353c7ac498a,1.0,...,2017-10-12 03:43:48,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
1,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,87285b34884572647811a353c7ac498a,1.0,...,2017-10-12 03:43:48,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares
2,e481f51cbdc54678b7cc49136f2d6af7,9ef432eb6251297304e76186b10a928d,delivered,2017-10-02 10:56:33,2017-10-02 11:07:15,2017-10-04 19:55:00,2017-10-10 21:25:13,2017-10-18,87285b34884572647811a353c7ac498a,1.0,...,2017-10-12 03:43:48,utilidades_domesticas,40.0,268.0,4.0,500.0,19.0,8.0,13.0,housewares

In [ ]:
#Check if order_id contains null and not_null product_id
# Combine rows by order_id
grouped = order_detail_w_product_df.groupby('order_id')

# Function to check null and not null value for data consitency purpose
def check_null_and_notnull(x):
    # If in group has 1  value null and 1 value not null, return True
    if x['product_id'].isnull().any() and x['product_id'].notnull().any():
        return True
    # Else, return False
    else:
        return False

# Apply checking_null_and_not_null for group and take True returns
result = grouped.apply(check_null_and_notnull)

# Print result
print(f"There are {len(result[result == True])} order_id having null and not null product_id.")

There are 0 order_id having null and not null product_id.

In [ ]:
print(grouped)

<pandas.core.groupby.generic.DataFrameGroupBy object at 0x7b818ed41f90>

In [ ]:
#Here we only take order_id not null
#To remove null value, we check if after removed, whether total revenue being affected
#by find % of null product_id compared with total revenue


# Original dataset total revenue
total_revenue = order_detail_w_product_df['price'].sum()

# Remove null values of 'product_id'
order_detail_w_product_no_null = order_detail_w_product_df.dropna(subset=['product_id'])


# Total revenue after removing null value in column 'product_id'
total_revenue_no_null = order_detail_w_product_no_null['price'].sum()

# % of revenue after removing null product_id differentiating from original revenue
percent_reduction = (total_revenue - total_revenue_no_null) / total_revenue * 100

print(f" % of revenue after removing null product_id differentiating from original revenue ': {percent_reduction:.2f}%")

 % of revenue after removing null product_id differentiating from original revenue ': 0.00%

In [ ]:
#Result of 0.00% so we accept to remove product_id null values as of order_detail_w_product_no_null

In [ ]:
#REMOVE NOT_ENGLISH PRODUCT CATEGORY
# Group rows by order_id
grouped =  order_detail_w_product_df.groupby('order_id')

# Function to check null and not null value data consitency purpose
def check_null_and_notnull(x):
    # If in the group has 1 null and not null, return True
    if x['product_category_name_english'].isnull().any() and x['product_category_name_english'].notnull().any():
        return True
    # Else return False
    else:
        return False

# Apply function check null_and_not_null for each group and take only True return
result = grouped.apply(check_null_and_notnull)

# Print result
print(f"There are {len(result[result == True])} order_id having both null and not_null values in column product_category_name_english.")

# Take the list of order_id satisfying the condition
order_ids = result[result == True].index.tolist()

There are 63 order_id having both null and not_null values in column product_category_name_english.

In [ ]:
# We only pick the products that being translated into English
# However, we need to confirm if dimissed, will product_category_name_english affect the analysis
# by finding % revenue of product_category_name_english null based on filtered null value  product_id compared with total revenue
# Total revenue originally
total_revenue = order_detail_w_product_df['price'].sum()


#-------------------------------------------------
# Cleaning of category name
# Group rows by order_id
grouped =  order_detail_w_product_df.groupby('order_id')

# Define function checking null and not_null
def check_null_and_notnull(x):
    # If in group has at least 1 null and not_null, return True
    if x['product_category_name_english'].isnull().any() and x['product_category_name_english'].notnull().any():
        return True
    # Else return False
    else:
        return False

# Apply checking_null_and_not_null for group and take only True values
result = grouped.apply(check_null_and_notnull)
# Take the list of order_id contaning null and not null
order_ids_to_remove = result[result == True].index.tolist()

# Take the result that NOT in the to remove list
order_detail_w_product_df1 = order_detail_w_product_df[~order_detail_w_product_df['order_id'].isin(order_ids_to_remove)]

order_detail_w_product_df_final = order_detail_w_product_df1.dropna(subset=['product_category_name_english'])

#-----------------------------------------------------------
# Calculate total revenue after dismissing the rows containing null values in column 'product_id'
total_revenue_no_category_null = order_detail_w_product_df_final['price'].sum()

# Difference of total revenue before and after removing null values
percent_reduction = (total_revenue - total_revenue_no_category_null) / total_revenue * 100

print(f"Difference of total revenue before and after removing null values in column 'product_category_name_english': {percent_reduction:.2f}%")

Difference of total revenue before and after removing null values in column 'product_category_name_english': 1.43%

In [ ]:
#The result is 1.43% so it is acceptable to remove product_category_name_english

In [ ]:
order_detail_w_product_df_final.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1211
order_delivered_customer_date      2513
order_estimated_delivery_date         0
product_id                            0
order_item_id                         0
seller_id                             0
price                                 0
freight_value                         0
payment_sequential                    3
payment_type                          3
payment_installments                  3
payment_value                         3
review_id                             0
review_score                          0
review_comment_title             102499
review_comment_message            66680
review_creation_date                  0
review_answer_timestamp               0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      1
product_length_cm                     1
product_height_cm                     1
product_width_cm                      1
product_category_name_english         0
dtype: int64

In [ ]:
order_detail_w_product_df_final1 = order_detail_w_product_df_final.dropna(subset=['payment_type'])
order_detail_w_product_df_final1.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1211
order_delivered_customer_date      2513
order_estimated_delivery_date         0
product_id                            0
order_item_id                         0
seller_id                             0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             102496
review_comment_message            66680
review_creation_date                  0
review_answer_timestamp               0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      1
product_length_cm                     1
product_height_cm                     1
product_width_cm                      1
product_category_name_english         0
dtype: int64

In [ ]:
order_detail_w_product_df_final2 = order_detail_w_product_df_final1.dropna(subset=['product_weight_g'])
order_detail_w_product_df_final2.isnull().sum()

order_id                              0
customer_id                           0
order_status                          0
order_purchase_timestamp              0
order_approved_at                    14
order_delivered_carrier_date       1211
order_delivered_customer_date      2513
order_estimated_delivery_date         0
product_id                            0
order_item_id                         0
seller_id                             0
price                                 0
freight_value                         0
payment_sequential                    0
payment_type                          0
payment_installments                  0
payment_value                         0
review_id                             0
review_score                          0
review_comment_title             102495
review_comment_message            66679
review_creation_date                  0
review_answer_timestamp               0
product_category_name                 0
product_name_lenght                   0
product_description_lenght            0
product_photos_qty                    0
product_weight_g                      0
product_length_cm                     0
product_height_cm                     0
product_width_cm                      0
product_category_name_english         0
dtype: int64

In [ ]:
order_item_df_copy = order_item_df.copy()
order_df_copy = order_df.copy()
product_df_copy = product_df.copy()
order_payment_df_copy = order_payment_df.copy()
order_reviews_df_copy = order_reviews_df.copy()

order_item_df_copy.drop(index=order_item_df_copy.index, inplace=True)
order_df_copy.drop(index=order_df_copy.index, inplace=True)
product_df_copy.drop(index=product_df_copy.index, inplace=True)
order_payment_df_copy.drop(index=order_payment_df_copy.index, inplace=True)
order_reviews_df_copy.drop(index=order_reviews_df_copy.index, inplace=True)

In [ ]:
product_df_copy

Empty DataFrame
Columns: [product_id, product_category_name, product_name_lenght, product_description_lenght, product_photos_qty, product_weight_g, product_length_cm, product_height_cm, product_width_cm]
Index: []

In [ ]:
# Update data after cleaning.
order_detail_w_product_df_final2 = order_detail_w_product_df_final2.reset_index(drop=True)
product_df_copy = order_detail_w_product_df_final2[['product_id','product_category_name_english','product_name_lenght','product_description_lenght','product_photos_qty','product_weight_g','product_length_cm','product_height_cm','product_width_cm']].groupby('product_id').first()

In [ ]:
product_df_copy = product_df_copy.reset_index()

In [ ]:
product_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32297 entries, 0 to 32296
Data columns (total 9 columns):
 #   Column                         Non-Null Count  Dtype
---  ------                         --------------  -----
 0   product_id                     32297 non-null  object
 1   product_category_name_english  32297 non-null  object
 2   product_name_lenght            32297 non-null  float64
 3   product_description_lenght     32297 non-null  float64
 4   product_photos_qty             32297 non-null  float64
 5   product_weight_g               32297 non-null  float64
 6   product_length_cm              32297 non-null  float64
 7   product_height_cm              32297 non-null  float64
 8   product_width_cm               32297 non-null  float64
dtypes: float64(7), object(2)
memory usage: 2.2+ MB

In [ ]:
product_df_copy.isnull().sum()

product_id                       0
product_category_name_english    0
product_name_lenght              0
product_description_lenght       0
product_photos_qty               0
product_weight_g                 0
product_length_cm                0
product_height_cm                0
product_width_cm                 0
dtype: int64

In [ ]:
order_df_copy

Empty DataFrame
Columns: [order_id, customer_id, order_status, order_purchase_timestamp, order_approved_at, order_delivered_carrier_date, order_delivered_customer_date, order_estimated_delivery_date]
Index: []

In [ ]:
# Update original data after cleaning
order_df_copy = order_detail_w_product_df_final2[['order_id','customer_id','order_status','order_purchase_timestamp'
,'order_approved_at','order_delivered_carrier_date','order_delivered_customer_date','order_estimated_delivery_date'
]].groupby('order_id').first().reset_index()

In [ ]:
order_df_copy.isnull().sum()

order_id                            0
customer_id                         0
order_status                        0
order_purchase_timestamp            0
order_approved_at                  13
order_delivered_carrier_date      974
order_delivered_customer_date    2129
order_estimated_delivery_date       0
dtype: int64

In [ ]:
order_item_df_copy

Empty DataFrame
Columns: [order_id, product_id, order_item_id, seller_id, price, freight_value]
Index: []

In [ ]:
# Update original data after cleaning
order_item_df_copy = order_detail_w_product_df_final2[['order_id','order_item_id','product_id','seller_id','price','freight_value'
]]

In [ ]:
order_item_df_copy.isnull().sum()

order_id         0
order_item_id    0
product_id       0
seller_id        0
price            0
freight_value    0
dtype: int64

In [ ]:
order_item_df_copy

,order_id,order_item_id,product_id,seller_id,price,freight_value
0,e481f51cbdc54678b7cc49136f2d6af7,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
1,e481f51cbdc54678b7cc49136f2d6af7,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
2,e481f51cbdc54678b7cc49136f2d6af7,1.0,87285b34884572647811a353c7ac498a,3504c0cb71d7fa48d967e0e4c94d59d9,29.99,8.72
3,53cdb2fc8bc7dce0b6741e2150273451,1.0,595fac2a385ac33a80bd5114aec74eb8,289cdb325fb7e7f891c38608bf9e0962,118.70,22.76
4,47770eb9100c2d0c44946d9cf07ec65d,1.0,aa4383b373c6aca5d8797843e5594415,4869f7a5dfa277a7dca6462dcf3b52b2,159.90,19.22
...,...,...,...,...,...,...
116476,63943bddc261676b46f01ca7ac2f7bd8,1.0,f1d4ce8c6dd66c47bbaa8c6781c2a923,1f9ab4708f3056ede07124aad39a2554,174.90,20.10
116477,83c1379a015df1e13d02aae0204711ab,1.0,b80910977a37536adeddd63663f916ad,d50d79cb34e38265a8649c383dcffd48,205.99,65.02
116478,11c177c8e97725db2631073c19f07b62,1.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59
116479,11c177c8e97725db2631073c19f07b62,2.0,d1c427060a0f73f6b889a5c7c61f2ac4,a1043bafd471dff536d0c462352beb48,179.99,40.59
116480,66dea50a8b16d9b4dee7af250b4be1a5,1.0,006619bbed68b000c8ba3f8725d5409e,ececbfcff9804a2d6b40f589df8eef2b,68.50,18.36

In [ ]:
order_payment_df_copy

Empty DataFrame
Columns: [order_id, payment_sequential, payment_type, payment_installments, payment_value]
Index: []

In [ ]:
# Update original tables after cleaning
order_payment_df_copy = order_detail_w_product_df_final2[['order_id','payment_sequential','payment_type','payment_installments','payment_value'
]]

In [ ]:
order_payment_df_copy.isnull().sum()

order_id                0
payment_sequential      0
payment_type            0
payment_installments    0
payment_value           0
dtype: int64

In [ ]:
order_reviews_df_copy

Empty DataFrame
Columns: [review_id, order_id, review_score, review_comment_title, review_comment_message, review_creation_date, review_answer_timestamp]
Index: []

In [ ]:
# Update original data after cleaning
order_reviews_df_copy = order_detail_w_product_df_final2[['review_id','order_id','review_score','review_comment_title'
,'review_comment_message','review_creation_date','review_answer_timestamp'
]]

In [ ]:
order_reviews_df_copy.isnull().sum()

review_id                       0
order_id                        0
review_score                    0
review_comment_title       102495
review_comment_message      66679
review_creation_date            0
review_answer_timestamp         0
dtype: int64

In [ ]:
order_reviews_df_copy.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 116481 entries, 0 to 116480
Data columns (total 7 columns):
 #   Column                   Non-Null Count   Dtype
---  ------                   --------------   -----
 0   review_id                116481 non-null  object
 1   order_id                 116481 non-null  object
 2   review_score             116481 non-null  int64
 3   review_comment_title     13986 non-null   object
 4   review_comment_message   49802 non-null   object
 5   review_creation_date     116481 non-null  datetime64[ns]
 6   review_answer_timestamp  116481 non-null  datetime64[ns]
dtypes: datetime64[ns](2), int64(1), object(4)
memory usage: 6.2+ MB

In [ ]:
order_item_df_copy.to_excel('dataset/fixed/order_item_df.xlsx', index=False)
order_payment_df_copy.to_excel('dataset/fixed/order_payment_df.xlsx', index=False)
order_df_copy.to_excel('dataset/fixed/order_df.xlsx', index=False)
product_df_copy.to_excel('dataset/fixed/product_df.xlsx', index=False)
order_reviews_df_copy.to_excel('dataset/fixed/order_reviews_df.xlsx', index=False)
customer_df.to_excel('dataset/fixed/customer_df.xlsx',index=False)

OSError: ignored